@charset "UTF-8";

form {
    width: 500px;
    margin: auto;
}

input, textarea {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255, 255, 255,.8);
}

input:hover, textarea:hover {
    background-color: #dddddd;
    
}

legend {
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13pt;
}

fieldset#sexo {
    width: 100px;

}

fieldset {
    border-color: #cecece;
    margin: 20px;
}

fieldset#usuario {
    background: url(../_imagens/icone-contato.png) no-repeat 95% 95%;

}
fieldset#endereco {
    background: url(../_imagens/icone-endereco.png) no-repeat 95% 95%;

}
fieldset#mensagem {
    background: url(../_imagens/icone-mensagem.png) no-repeat 95% 95%;

}
fieldset#pedido {
    background: url(../_imagens/icone-pagamento.png) no-repeat 95% 95%;

}
.botao {
    padding: 10px 20px;
    border-radius: 37px;
    position: relative;
    left: 397px;
    margin-bottom: 12px;
    transition: all ease-in 0.1s;
}
.botao:hover {
    transform: translateY(-3px);
    cursor: pointer;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.3);
}